body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* -----------
/* Dark/Light mode */
.darkBg {
    background-color: #121212 !important;
    color: #FFF !important;
}

.lightBg {
    background-color: #FFF !important;
    color: #121212 !important;
}

.darkBtn {
    background-color: #121212;
    color: #FFF;
    border: solid #FFF 2px;
    border-radius: 8px;
}

.darkBtn:hover {
    background-color: #FFF;
    color: #121212;
    border: solid #121212 2px;
    border-radius: 8px;
    transition: 0.5s;

}

.lightBtn {
    background-color: #FFF;
    color: #121212;
    border: solid #121212 2px;
    border-radius: 8px;
}

.lightBtn:hover {
    background-color: #121212;
    color: #FFF;
    border: solid #FFF 2px;
    border-radius: 8px;
    transition: 0.5s;
}

.lightTypo {
    color: #FFF !important;
}

.darkTypo {
    color: black !important;
}

/* -----------
/* Menu principal de l'app */
.nav_cat {
    position: relative;
    display: inline-block;
    /* inline-block important pour que la largeur colle au texte */
    text-decoration: none;
}

.nav_cat::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: red;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav_cat:hover::after {
    transform: scaleX(1);
}

.nav_main:hover {
    color: red !important;
}

/* -----------
/* Footer */
.socialMedias {
    font-size: 24px;
}

/* -----------
/* Flèche de scroll vers haut de page */
#arrowScroll {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visibility 0.3s;
    width: 1.5em;
    height: 1.5em;
    /* background-color: #121212;
    color: #FFF;
    border: 3px solid #121212; */
    border-radius: 50%;
    font-size: 2.5em;
    cursor: pointer;
}

/* #arrowScroll:hover {
    background-color: #121212;
    border: solid 2px #FFF;
    color: #FFF;
    transition: 0.4s
} */

/* -----------
/* Donner son avis avec étoiles */
.star {
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
}

.star.active {
    color: gold;
}

/* -----------
/* Notes sur les avis déja publiés */
.starr {
    font-size: 1.5rem;
    color: gray;
}

.starr.active {
    color: gold;
}

/* -----------
/* Affichage des films par genre : responsive & scroll horizontal  */
.filmScroll::-webkit-scrollbar {
    display: none;
    /* Masque la scrollbar sur Chrome/Safari */
}

.filmScroll {
    -ms-overflow-style: none;
    /* IE et Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
}

.filmLink {
    transition: all .2s ease-in-out;
}

.filmLink:hover {
    transform: scale(1.1)
}